#Ignoring folders and files
instalacao_airflow/airflow.cfg
instalacao_airflow/airflow.db
instalacao_airflow/airflow-webserver.pid
instalacao_airflow/webserver_config.py
pipelines/proj_abinbev/__pycache__/
instalacao_airflow/dags/__pycache__/
venv/
pipelines/proj_abinbev/__pycache__/
instalacao_airflow/logs/
pipelines/proj_abinbev/datalake/bronze/breweries/
pipelines/proj_abinbev/datalake/silver/breweries/
pipelines/proj_abinbev/datalake/gold/breweries/
instalacao_airflow/logs/